

/* Navigation bar styling */
nav {
  
  padding: 0em;
  /* min-width: 400px; */
  border: 2px black solid;

}


nav ul li {
  /* margin: 0 1em; */
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 4px;
}


.nav-link:hover {
  border-radius: 4px;
}





h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


body {
  font-family: Arial, sans-serif;
  /* background-image:url(./images/background/brick_and_door.png);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain ;  */

} 

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

/* IDs */


#expanded-photo {
  height: 50%
}

#blank {
  opacity: 0;
  height: 300px;
}

#content-box {
  padding-top: 60px;
}

/* @media(max-width: 1300px){
  #logo-image {
    display: none;
  }

} */