@import "tailwindcss";

@import "tailwindcss";
@layer base {
  *, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Other base styles */
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-logo: #494f55;
}