@import "tailwindcss";
@layer base {
  *, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Other base styles */
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-logo: #494f55;
}

@layer utilities {
  .animate-duration-75 {
    animation-duration: 75ms;
  }
  .animate-duration-100 {
    animation-duration: 100ms;
  }
  .animate-duration-150 {
    animation-duration: 150ms;
  }
  .animate-duration-200 {
    animation-duration: 200ms;
  }
  .animate-duration-300 {
    animation-duration: 300ms;
  }
  .animate-duration-500 {
    animation-duration: 500ms;
  }
  .animate-duration-700 {
    animation-duration: 700ms;
  }
  .animate-duration-1000 {
    animation-duration: 1000ms;
  }
  .animate-duration-1500 {
    animation-duration: 1500ms;
  }
  .animate-duration-2000 {
    animation-duration: 2000ms;
  }
  .animate-duration-3000 {
    animation-duration: 3000ms;
  }
}